.quotes {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.quotes_wrapper {
  display: flex;
  flex-direction: column;
}

.quotes_wrapper h4 {
  text-transform: capitalize;
  margin: 0;
}

.quotes_wrapper p {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.quotes_wrapper button {
  margin: 10px 0;
  padding: 5px 20px;
  text-transform: uppercase;
  outline: none;
}